<% other_user = connection.other_user(current_user) %>

<div class="card connection" id="<%= dom_id connection %>">
  <div class="card-body rounded-corners">
    <div class="top-corner-controls">
      <%= link_to connection_path(connection),
                  data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to delete your connection with #{other_user.first_name}?"
                  }, class: "icon-link link-danger" do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
    <h3><%= other_user.full_name %></h3>
    <p class="mb-1">
      <i class="fa-solid fa-location-dot"></i>&nbsp;<%= other_user.town.humanize %>
    </p>
    <div class="stats">
      <p class="stat">
        <%= pluralize(other_user.jobs.size, "job") %> |&nbsp;
      </p>
      <p class="stat">
        <%= pluralize(other_user.ratings.size, "rating") %> |&nbsp;
      </p>
      <p class="stat">
        <%= pluralize(other_user.connections.size, "connection") %>
      </p>
    </div>
  </div>
</div>
