<% content_for :title, "Add a Connection" %>

<main class="new-connection">
  <div class="new-connection-container container">
    <div>
      <% if @user_a.present? %>
        <% if current_user.connected_with?(@user_a) %>
          <h2>You're already connected with <%= @user_a.first_name %></h2>
          <div class="btn-center">
            <%= link_to "Go Back", root_path, class: "btn btn-primary" %>
          </div>
        <% elsif current_user == @user_a %>
          <h2>You can't connect to yourself!</h2>
          <p class="lead">Send that link to someone you know.</p>
          <div class="btn-center">
            <%= link_to "Go Back", root_path, class: "btn btn-primary" %>
          </div>
        <% else %>
          <h2>Are you sure you want to connect with <%= @user_a.full_name %> from <%= @user_a.town %>?</h2>
          <div class="btn-center">
            <%= link_to "Connect", connections_path(user_a_id: @user_a.id),
                        data: { turbo_method: :post },
                        class: "btn btn-primary btn-lg" %>
            <%= link_to "Cancel", root_path, class: "btn btn-warning" %>
          </div>
        <% end %>

      <% else %>
        <h1>Welcome to the new connection page!</h1>
        <p class="lead">Your link to share
          is: <%= link_to new_connection_url(user_a_id: current_user), new_connection_url(user_a_id: current_user) %>
          you can copy it easily by clicking the button below.</p>
        <% if params[:user_a_id].present? %>
          <p>If you were sent here by a friend, we couldn't find them, so check the link you were sent as you can only connect
            with another user by using their link.</p>
        <% end %>
        <div class="btn-center">
          <%= render partial: "shared/copy_connection_link_button" %>
          <%= link_to "Go Back", root_path, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</main>
