<main class="account-form">
  <h1 class="page-title brand"><a href="/">Radius Contractors</a></h1>
  <div class="card form-card">
    <h2>Edit your account details</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-section">
        <div class="row">
          <div class="field">
            <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email", class: "form-input" %>
            <%= f.label :email, class: "form-label floating-label" %>
          </div>

          <div class="field">
            <%= f.text_field :town, placeholder: "Your Town or City", class: "form-input" %>
            <%= f.label :town, class: "form-label floating-label" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="row">
          <div class="field">
            <%= f.text_field :first_name, placeholder: "First Name", class: "form-input" %>
            <%= f.label :first_name, class: "form-label floating-label" %>
          </div>
          <div class="field">
            <%= f.text_field :last_name, placeholder: "Last Name", class: "form-input" %>
            <%= f.label :last_name, class: "form-label floating-label" %>
          </div>
        </div>

        <div class="row">
          <div class="field">
            <p>Enable viewing contractors and ratings from friends of your friends</p>
            <%= f.label :second_degree_connections_enabled %>
            <%= f.check_box :second_degree_connections_enabled %>
          </div>
        </div>

        <p class="mb-0">Change Password</p>
        <div class="row">
          <div class="field">
            <%= f.password_field :password, placeholder: "new password", autocomplete: "new-password", class: "form-input" %>
            <%= f.label :password, "New Password", class: "form-label floating-label" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>
          <div class="field">
            <%= f.password_field :password_confirmation, placeholder: "password confirmation", autocomplete: "new-password", class: "form-input" %>
            <%= f.label :password_confirmation, class: "form-label floating-label" %>
          </div>
        </div>

        <p class="mb-0">Current Password to confirm changes</p>
        <div class="row">
          <div class="field">
            <%= f.password_field :current_password, placeholder: "current password", autocomplete: "current-password", class: "form-input", required: true %>
            <%= f.label :current_password, class: "form-label floating-label" %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "btn btn-warning" %>
      </div>
    <% end %>

    <div class="back-link-container">
      <%= link_to "Back", :back %>
    </div>

    <details>
      <summary class="text-warning">
        Unhappy?
      </summary>
      <div class="button-container">
        <%= button_to "Cancel my account", registration_path(resource_name), data: { turbo_confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
      </div>
    </details>
  </div>
</main>
