<div class="col">
  <div id="<%= dom_id job %>" class="card h-100">
    <div class="card-body">

      <% if job.user == current_user %>
        <div class="controls">
          <%= link_to edit_contractor_job_path(job.contractor, job), class: "icon-link link-primary" do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>
          <%= link_to contractor_job_path(job.contractor, job),
                      data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure you want to delete this job?"
                      }, class: "icon-link link-danger" do %>
            <i class="fa-solid fa-trash"></i>
          <% end if (job.contractor.jobs_for_customer(current_user).size > 1) %>
        </div>
      <% end %>

      <p>
        <strong>Description:</strong>
        <%= job.description %>
      </p>

      <p>
        <strong>State:</strong>
        <%= job.state.humanize %>
      </p>

      <p>
        <strong>From:</strong>
        <%= job.start_date %>
        <br>
        <strong>To:</strong>
        <%= job.end_date %>
      </p>

      <% if job.review.present? %>
        <p>
          <strong>Job Review:</strong>
          <%= job.review %>
        </p>
      <% end %>

    </div>
  </div>
</div>
