<div class="col">
  <div id="<%= dom_id job %>" class="card h-100">
    <div class="card-body">

      <p>
        <strong>Description:</strong>
        <%= job.description %>
      </p>

      <p>
        <strong>State:</strong>
        <%= job.state.humanize %>
      </p>

      <p>
        <strong>From:</strong>
        <%= job.start_date %>
        <br>
        <strong>To:</strong>
        <%= job.end_date %>
      </p>

      <% if job.review.present? %>
        <p>
          <strong>Job Review:</strong>
          <%= job.review %>
        </p>
      <% end %>

    </div>
  </div>
</div>
