<div id="<%= dom_id rating %>">
  <p>
    <strong>User:</strong>
    <%= rating.user_id %>
  </p>

  <p>
    <strong>Contractor:</strong>
    <%= rating.contractor_id %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= rating.review %>
  </p>

  <p>
    <strong>Overall rating:</strong>
    <%= rating.overall_rating %>
  </p>

  <p>
    <strong>Value rating:</strong>
    <%= rating.value_rating %>
  </p>

  <p>
    <strong>Communication rating:</strong>
    <%= rating.communication_rating %>
  </p>

  <p>
    <strong>Quality rating:</strong>
    <%= rating.quality_rating %>
  </p>

  <p>
    <strong>Tidiness rating:</strong>
    <%= rating.tidiness_rating %>
  </p>

  <p>
    <strong>Professionalism rating:</strong>
    <%= rating.professionalism_rating %>
  </p>

</div>
