<header class="container main-page">
  <h1 class="page-title brand">Radius Contractors</h1>
  <h2 class="page-subtitle">Find builders recommended by people you trust</h2>
  <p class="lead">
    It's really challenging to find reliable builders.
  </p>
  <p class="lead">
    Check-a-trade and MyBuilder are commercial behemoths, focused on their bottom line
    rather than providing a good service to homeowners.
  </p>
  <p class="lead">
    We take a different approach, the builders you can see here are only those that have been reviewed by people you
    have connected with.
  </p>
  <hr>
</header>

<main class="container main-page">
  <% if current_user && !current_user.ratings.size.zero? %>
    <h2>Welcome Back <%= current_user.first_name %></h2>
    <p>What would you like to do today?</p>
    <div class="row g-2 front-page-buttons">
      <div class="col-4"><%= link_to "Add a contractor", new_contractor_path, class: "btn btn-builder" %></div>
      <div class="col-4"><%= link_to "Add a new connection", new_connection_path, class: "btn btn-connection" %></div>
      <!--      <div class="col-4"><%#= link_to "Add a rating", new_job_path, class: "btn btn-rating" %></div>-->
      <div class="col-4"><%= link_to "Find a new contractor", contractors_path, class: "btn btn-builder" %></div>
      <div class="col-4"><%= link_to "View or edit something you added previously", root_path, class: "btn btn-secondary" %></div>
      <div class="col-4"><%= link_to "Edit your account", edit_user_registration_path, class: "btn btn-primary" %></div>
    </div>
  <% else %>
    <h2>Getting Started</h2>
    <p>For this app to be useful, you need to sign up with at least one other friend, so you can both see each other's recommended
      builders.</p>
    <p>You can sign up from the link below, then you can generate a personalised link invite your friends.</p>
    <p>Once you've signed up, you can add builders you've used, the jobs they've worked or quoted for and give them a rating. When you
      friends sign up and do the same thing, you'll be able to see the builders they have rated.</p>
    <p>It requires a bit of community effort, but it's that simple!</p>
    <p>If you're a builder, do good work and get recommended! If you have any issues then you can reach out
      <a href="mailto:contractors@purpleriver.dev">here</a>.</p>
    <hr>

    <div class="getting-started-checklist">
      <h3>Your Checklist</h3>
      <ol>
        <li>
          Sign Up and Log In<%= " ✅" if current_user %>
        </li>
        <li>
          Invite a friend and make a connection<%= " ✅" if current_user && !current_user&.connections&.size&.zero? %>
        </li>
        <li>
          Add a builder you've used, the job they did and give them a rating
        </li>
      </ol>

      <h3>What's Next?</h3>
      <% unless current_user %>
        <h5>Sign Up and Log In</h5>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
      <% else %>
        <% if current_user.connections.size.zero? %>
          <h5>Invite a Friend</h5>
          <%# TODO: Process for generating invite links %>
          <p>Coming Soon</p>
        <% else %>
          <% if current_user.ratings.size.zero? %>
            <h5>Add a builder, a job and a rating.</h5>
            <%= link_to "Add a builder", new_contractor_path, class: "btn btn-builder" %>
            <% unless current_user.viewable_contractors.size.zero? %>
              <p>It looks as though your connections have already added some builders, you can add a job and a rating if you've used one of
                those tradies.</p>
              <%= link_to "Add a job", new_job_path, class: "btn btn-job" %>
              <% if !current_user.jobs.size.zero? && current_user.ratings.size.zero? %>
                <p>It looks as though you've added a job, but not rated that builder.</p>
                <%= link_to "Add a rating", new_rating_path, class: "btn btn-rating" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if current_user %>
    <div class="bottom-0 start-0 m-5">
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
    </div>
  <% end %>
</main>
