<% if action_name == "show" %>
  <h1 class="page-title brand"><%= contractor.name %> - <%= contractor.company_name %></h1>
<% end %>

<div class="card" id="<%= dom_id contractor %>">
  <% unless action_name == "show" %>
    <div class="card-header">
      <h3><%= contractor.name %> - <%= contractor.company_name %></h3>
    </div>
  <% end %>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="trades">
          <% contractor.trades.each do |trade| %>
            <p class="btn btn-sm btn-<%= trade.name %>"><%= trade.name %></p>
          <% end %>
        </div>
        <p>
          Completed <%= pluralize(contractor.viewable_jobs(current_user).size, "job") %> for
          <%= pluralize(contractor.viewable_customers(current_user).size, "customer") %>
        </p>
        <p>
          Rated <%= contractor.average_rating(current_user) %> from
          <%= pluralize(contractor.viewable_ratings(current_user).size, "rating") %>
        </p>
      </div>

      <div class="col">
        <p>
          <strong><i class="fa-solid fa-phone"></i></strong>
          <%= contractor.number %>
        </p>

        <p>
          <strong><i class="fa-solid fa-envelope"></i></strong>
          <%= contractor.email %>
        </p>

        <p>
          <strong><i class="fa-solid fa-location-dot"></i></strong>
          <%= contractor.town %>
        </p>

        <p>
          <strong>Added by:</strong>
          <%= contractor.added_by.full_name %>, <%= time_ago_in_words(contractor.created_at) %> ago
        </p>

        <% if contractor.updated_by_id.present? %>
          <p>
            <strong>Last Updated by:</strong>
            <%= contractor.updated_by.full_name %>, <%= time_ago_in_words(contractor.updated_at) %> ago
          </p>
        <% end %>
      </div>

    </div>
  </div>

  <div class="card-footer">
    <% if controller_name == "contractors" && action_name == "index" %>
      <%= link_to "See more details", contractor %>
    <% else %>
      <div class="d-flex">
        <div class="me-auto">
          <% if @user_is_customer %>
            <% if @user_rating.present? %>
              <p>Your Rating: <%= @user_rating.overall_rating %>/10</p>
              <%= link_to "Add another Job", new_contractor_job_path(contractor), class: "btn btn-success" %>
              <%= link_to "Update Rating", edit_contractor_rating_path(contractor, @user_rating), class: "btn btn-secondary" %>
            <% else %>
              <p>You've added a job, do you want to give <%= contractor.name %> a rating?</p>
              <%= link_to "Add a Rating", new_contractor_rating_path(contractor), class: "btn btn-success" %>
            <% end %>
          <% else %>
            <p> Has <%= contractor.name %> done a job for you? </p>
            <%= link_to "Add a Job", new_contractor_job_path(contractor), class: "btn btn-success" %>
          <% end %>
        </div>
        <div class="align-self-end">
          <%= link_to "Edit Details", edit_contractor_path(contractor), class: "btn btn-warning" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
