<div id="<%= dom_id contractor %>">
  <p>
    <strong>Name:</strong>
    <%= contractor.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= contractor.number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contractor.email %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= contractor.town %>
  </p>

  <p>
    <strong>Added by:</strong>
    <%= contractor.added_by_id %>
  </p>

</div>
