<%= form_with(model: contractor) do |form| %>
  <% if contractor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contractor.errors.count, "error") %> prohibited this contractor from being saved:</h2>

      <ul>
        <% contractor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="form-floating">
        <%= form.text_field :name, placeholder: "E.G. Bob Plumber", class: "form-control", required: true %>
        <%= form.label :name, class: "form-label" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-floating">
        <%= form.text_field :company_name, placeholder: "Bob's Plumber LTD", class: "form-control" %>
        <%= form.label :company_name, class: "form-label" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-floating">
        <%= form.text_field :number, placeholder: "07696234890", class: "form-control", required: true %>
        <%= form.label :number, class: "form-label" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-floating">
        <%= form.text_field :email, placeholder: "bob@plumbing.job", class: "form-control" %>
        <%= form.label :email, class: "form-label" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-floating">
        <%= form.text_field :town, placeholder: "Swansea", class: "form-control" %>
        <%= form.label :town, class: "form-label" %>
      </div>
    </div>
  </div>

  <%# TODO: Allow Trades to be added here %>

  <div>
    <%= form.submit class: "btn btn-success"%>
  </div>
<% end %>
