<% content_for :title, "Contractors" %>

<header id="contractors-header">
  <h1 class="page-title brand">Contractors in your Radius</h1>
  <div class="btn-container">
    <%= link_to "New contractor", new_contractor_path, class: "btn btn-primary" %>
  </div>

  <div class="trade-filters">
    <h3>Filter by Trade</h3>
    <div class="filter-buttons trades">
      <%= link_to "Clear Filter", contractors_path(search: params[:search]),
                  class: "trade-filter btn btn-#{params[:trade_id].blank? ? "secondary" : "primary"}" %>
      <% @trades.each do |trade| %>
        <%= link_to trade.name, contractors_path(trade_id: trade.id, search: params[:search]),
                    class: "trade-filter btn btn-#{params[:trade_id] == trade.id.to_s ? "secondary" : "primary"}" %>
      <% end %>
    </div>
  </div>

  <div class="search">
    <h3>Search</h3>
    <%= form_with url: contractors_path, method: :get, class: "row" do |form| %>
      <div class="label">
        <%= form.label :search, "By name, company name, number or email", class: "col-form-label" %>
      </div>
      <div class="field">
        <%= form.search_field :search, placeholder: "Search by name, number or email",
                              class: "form-input",
                              value: params[:search].present? ? params[:search] : "" %>
        <%= form.hidden_field :trade_id, value: params[:trade_id] if params[:trade_id].present? %>
      </div>

      <div class="actions">
        <%= form.submit "Search", class: "btn btn-success" %>
        <%= link_to "Clear Search", contractors_path(trade_id: params[:trade_id]), class: "btn btn-sm btn-warning" if params[:search].present? %>
      </div>
    <% end %>
  </div>
</header>

<main class="container" id="contractors">
  <% if @contractors.present? %>
    <% @contractors.each do |contractor| %>
      <%= render contractor %>
    <% end %>
  <% else %>
    <h1>No Contractors Found</h1>
  <% end %>
</main>
