<p style="color: green"><%= notice %></p>

<%= render @contractor %>

<div>
  <%= link_to "Edit this contractor", edit_contractor_path(@contractor) %> |
  <%= link_to "Back to contractors", contractors_path %>

  <%= button_to "Destroy this contractor", @contractor, method: :delete %>
</div>
