<main id="contractor">
  <%= render @contractor %>

  <% if @user_jobs.present? %>
    <hr>
    <section class="jobs">
      <h2>Jobs <%= @contractor.name %> has done for you</h2>
      <div class="row">
        <% @user_jobs.each do |job| %>
          <%= render job %>
        <% end %>
      </div>
    </section>
  <% end %>

  <% if @viewable_ratings.present? %>
    <hr>
    <section class="ratings">
      <h2>Ratings <%= @contractor.name %> has received</h2>
      <div class="row">
        <% @viewable_ratings.each do |rating| %>
          <%= render rating %>
        <% end %>
      </div>
    </section>
  <% end %>

  <%= link_to "Back to contractors", contractors_path %>
</main>
