<main id="contractor">
  <div class="container">
    <%= render @contractor %>
  </div>

  <% if @user_rating.present? %>
    <div class="container">
      <h2>Your Rating</h2>
      <%= render @user_rating %>
    </div>
  <% end %>

  <% if @user_jobs.present? %>
    <div class="container">
      <div class="row">
        <h2>Jobs <%= @contractor.name %> has done for you</h2>
        <% @user_jobs.each do |job| %>
          <%= render job %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @viewable_ratings.present? %>
    <div class="container">
      <div class="row">
        <h2>Ratings <%= @contractor.name %> has received</h2>
        <% @viewable_ratings.each do |rating| %>
          <%= render rating %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="container">
    <%= link_to "Edit this contractor", edit_contractor_path(@contractor) %> |
    <%= link_to "Back to contractors", contractors_path %>
  </div>
</main>
